@page 

@model OdeToFood.Pages.Restaurants.ListModel
@{
}
<h1>Restaurtants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <button class="bnt btn-outline-info">SEARCH</button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
        <td>
            <a class="btn btn-lg"
               asp-page="./Detail"
               asp-route-restaurantId="@restaurant.Id">
                <i class="btn btn-outline-success">Details</i>
            </a>
        </td>
        <td>
            <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-restaurantId="@restaurant.Id">
                <i class="btn btn-outline-success">Edit</i>
            </a>
        </td>

    </tr>
    }
</table>


<div>@Model.Message</div>